<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.BoardReplyMapper">
	
	<!-- 댓글조회 -->
	<select id="reply_lsit" parameterType="int" resultType="vo.BoardReplyVO" >
		select * from free_reply where idx = #{idx} order by reidx desc
	</select>
	
	<!-- 댓글작성 -->
	<insert id="reply_insert" parameterType="vo.BoardReplyVO">
		insert into free_reply values(seq_reviewb_reply.nextval, #{idx} , #{writer}, #{content}, sysdate,#{pwd})
	</insert>
	
	<!-- 댓글 삭제 -->
	<delete id="reply_delete" parameterType="vo.BoardReplyVO">
		delete from free_reply where reidx = #{reidx}
	</delete>
	
</mapper>












