<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.NoticeMapper">
	
	<select id="search" resultType="vo.NoticeVO">
		select * from notice 
	</select>
	
	<!-- 자세히보기 -->
	<select id="select_one" parameterType="int" resultType="vo.NoticeVO">
		select * from notice where idx =#{idx}
	</select>

	<!-- 조회수 -->
	<update id="viewcount">
		update notice set viewcount = viewcount +1 where idx = #{idx}
	</update>
</mapper>












